@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "fallout";
  src: url("../assets/fonts/fallout.ttf") format("truetype"), url("../assets/fonts/fallout.woff") format("woff"), url("../assets/fonts/fallout.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=fo-],
[class*=" fo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fallout" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fo-energy:before {
  content: "\e904";
}

.fo-physical:before {
  content: "\e901";
}

.fo-poison:before {
  content: "\e902";
}

.fo-radiation:before {
  content: "\e903";
}

.fo-pip-boy:before {
  content: "\e900";
}

.fo-blue {
  background-color: rgb(245, 243, 127);
  color: rgb(0, 89, 172);
}

.wrapper {
  border-top: 10px solid green;
}

.fallout.ap-tracker {
  display: flex;
  margin-bottom: 16px;
  pointer-events: all;
}
.fallout.ap-tracker .ap-resource {
  padding: 10px 20px;
  margin-left: 8px;
  margin-right: 8px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout.ap-tracker .ap-resource.gm {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%22-1%20-1%20300%20100%22%20width%3D%22300%22%20height%3D%22100%22%3E%3Cdefs%3E%3Cpath%20d%3D%22M0%20100l274.1-9.92L300%2013.01%208.51%200%200%20100z%22%20id%3D%22a%22%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20fill%3D%22%23325885%22%20fill-opacity%3D%221%22%20stroke%3D%22%23325885%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 0px;
}
.fallout.ap-tracker .ap-resource.maxAP-box {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'none'%20viewBox%3D'-1%20-1%20300%20100'%20width%3D'300'%20height%3D'100'%3E%3Cdefs%3E%3Cpath%20d%3D'M13.24%20100l268.5-5.03L300%209.35%200%200l13.24%20100z'%20id%3D'a'%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D'%23a'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23a'%20fill%3D'%236d759e'%20fill-opacity%3D'1'%20stroke%3D'%236d759e'%20stroke-width%3D'2'%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout.ap-tracker .ap-resource.party {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'none'%20viewBox%3D'-1%20-1%20300%20100'%20width%3D'300'%20height%3D'100'%3E%3Cdefs%3E%3Cpath%20d%3D'M13.24%20100l268.5-5.03L300%209.35%200%200l13.24%20100z'%20id%3D'a'%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D'%23a'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23a'%20fill%3D'%236e9576'%20fill-opacity%3D'1'%20stroke%3D'%236e9576'%20stroke-width%3D'2'%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 0px;
}
.fallout.ap-tracker .ap-resource .toggle-maxAp {
  position: relative;
  left: 35px;
  color: beige;
}
.fallout.ap-tracker .ap-resource:last-child {
  margin-bottom: 0;
}
.fallout.ap-tracker .ap-resource h4 {
  margin: 0 0 2px 0;
  color: bisque;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.fallout.ap-tracker .ap-resource input[type=number] {
  margin: 0 5px;
  font-size: 16px;
}
.fallout.ap-tracker .ap-resource .ap-btn {
  min-height: 24px;
  min-width: 24px;
  max-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  color: black;
  border-radius: 6px;
}

.fallout-button {
  background: #293f5f;
  border-color: black;
  color: rgb(238, 231, 135);
  text-transform: capitalize;
}
.fallout-button:hover {
  outline: none;
  box-shadow: 0 0 5px rgb(238, 231, 135);
}

.dialog-button {
  color: black;
}

.flex {
  display: flex;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.align-mid {
  align-items: center;
}

.grid-8-columns, .grid-7-columns, .grid-6-columns, .grid-5-columns, .grid-4-columns, .grid-3-columns, .grid-2-columns, .grid-1-columns {
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 8px;
  row-gap: 8px;
}

.grid-colspan-1 {
  grid-column: span 1;
}

.grid-colspan-2 {
  grid-column: span 2;
}

.grid-colspan-3 {
  grid-column: span 3;
}

.grid-colspan-4 {
  grid-column: span 4;
}

.grid-colspan-5 {
  grid-column: span 5;
}

.grid-colspan-6 {
  grid-column: span 6;
}

.grid-colspan-7 {
  grid-column: span 7;
}

.grid-colspan-8 {
  grid-column: span 8;
}

.grid-colstart-1 {
  grid-column-start: 1;
}

.grid-colstart-2 {
  grid-column-start: 2;
}

.grid-colstart-3 {
  grid-column-start: 3;
}

.grid-colstart-4 {
  grid-column-start: 4;
}

.grid-colstart-5 {
  grid-column-start: 5;
}

.grid-colstart-6 {
  grid-column-start: 6;
}

.grid-colstart-7 {
  grid-column-start: 7;
}

.grid-colstart-8 {
  grid-column-start: 8;
}

.grid-1-columns {
  grid-template-columns: repeat(1, 1fr);
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-columns {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-columns {
  grid-template-columns: repeat(5, 1fr);
}

.grid-6-columns {
  grid-template-columns: repeat(6, 1fr);
}

.grid-7-columns {
  grid-template-columns: repeat(7, 1fr);
}

.grid-8-columns {
  grid-template-columns: repeat(8, 1fr);
}

.system-fallout .sheet.journal-entry {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #191813;
}

.system-fallout .sheet.journal-entry .journal-entry-content {
  background: url(../assets/ui/journal/journal-bg.webp);
}

.system-fallout .journal-sheet .journal-header input[type=text] {
  background: none;
  border: none;
  border-radius: 0;
}

.system-fallout .journal-sheet .journal-header .title {
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  color: black;
  font-size: 2.2em;
  font-style: bold;
  text-transform: uppercase;
}

.system-fallout .sheet.journal-entry .journal-entry-page a.content-link,
.system-fallout .sheet.journal-entry .journal-entry-page a.content-link i,
.system-fallout .sheet.journal-entry .journal-entry-page a.inline-roll,
.system-fallout .sheet.journal-entry .journal-entry-page a.inline-roll i {
  background-color: #325885;
  color: rgb(238, 231, 135);
}
.system-fallout .sheet.journal-entry .journal-entry-page aside {
  border: none;
  padding: 8px;
  margin: 16px;
  margin-bottom: 26px;
  background-color: rgb(246, 227, 205);
  box-shadow: -8px 10px rgb(219, 140, 61);
}
.system-fallout .sheet.journal-entry .journal-entry-page aside .aside-title {
  display: contents;
  background: none;
  font-weight: 700;
  text-transform: none;
  font-size: 2.6em;
  color: rgb(219, 140, 61);
  font-family: "Dancing Script", cursive;
}
.system-fallout .sheet.journal-entry .journal-entry-page blockquote {
  border: none;
  background-color: rgb(182, 219, 198);
  padding: 8px;
  margin: 16px;
}
.system-fallout .sheet.journal-entry .journal-entry-page blockquote p {
  font-size: 1.15em;
  font-style: italic;
}
.system-fallout .sheet.journal-entry .journal-entry-page code {
  font-family: "Share Tech Mono", monospace;
}
.system-fallout .sheet.journal-entry .journal-entry-page footer {
  background-color: rgb(28, 63, 125);
  border-radius: 16px;
  outline-style: dashed;
  outline-width: 2px;
  outline-offset: -8px;
  padding: 20px;
  color: white;
  margin: 16px;
}
.system-fallout .sheet.journal-entry .journal-entry-page footer .header {
  background: none;
  color: rgb(252, 229, 61);
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  margin: 0 0 0.5rem;
}
.system-fallout .sheet.journal-entry .journal-entry-page h1, .system-fallout .sheet.journal-entry .journal-entry-page h2, .system-fallout .sheet.journal-entry .journal-entry-page h3, .system-fallout .sheet.journal-entry .journal-entry-page h4, .system-fallout .sheet.journal-entry .journal-entry-page h5 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  border: none;
  margin: 0 0 0.5rem;
  padding: 0;
}
.system-fallout .sheet.journal-entry .journal-entry-page h1, .system-fallout .sheet.journal-entry .journal-entry-page h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.8em;
  color: white;
  border: none;
  max-width: max-content;
  min-width: 66%;
  padding-left: 4px;
  padding-right: 50px;
}
.system-fallout .sheet.journal-entry .journal-entry-page h1 {
  background: url(../assets/ui/journal/h1-background.svg) no-repeat;
  background-size: cover;
}
.system-fallout .sheet.journal-entry .journal-entry-page h2 {
  background: url(../assets/ui/journal/h2-background.svg) no-repeat;
  background-size: cover;
}
.system-fallout .sheet.journal-entry .journal-entry-page h3 {
  font-size: 1.6em;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  padding: 4px 0px 4px 4px;
  margin-top: 1rem;
}
.system-fallout .sheet.journal-entry .journal-entry-page h4 {
  font-size: 1.4em;
}
.system-fallout .sheet.journal-entry .journal-entry-page h5 {
  font-size: 1.2em;
}
.system-fallout .sheet.journal-entry .journal-entry-page img {
  border: none;
}
.system-fallout .sheet.journal-entry .journal-entry-page ul {
  list-style-type: square;
  margin: 0.5em 0.5em 1.5em;
}
.system-fallout .sheet.journal-entry .journal-entry-page ul li::marker {
  color: #ca9e0f;
  font-size: 1.4em;
}
.system-fallout .sheet.journal-entry .journal-entry-page ol {
  list-style-type: decimal;
  margin: 0.5em 0.5em 1.5em;
}
.system-fallout .sheet.journal-entry .journal-entry-page ol li::marker {
  font-size: unset;
  color: black;
  font-weight: bold;
}
.system-fallout .sheet.journal-entry .journal-entry-page ol ul li::marker {
  color: #ca9e0f;
  font-size: 1.4em;
}
.system-fallout .sheet.journal-entry .journal-entry-page p {
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5;
}
.system-fallout .sheet.journal-entry .journal-entry-page table {
  border: none;
  margin-bottom: 1em;
  margin-top: 1em;
}
.system-fallout .sheet.journal-entry .journal-entry-page table caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.system-fallout .sheet.journal-entry .journal-entry-page table tbody tr:nth-child(even) {
  background-color: rgb(241, 204, 165);
}
.system-fallout .sheet.journal-entry .journal-entry-page table tbody tr:nth-child(odd) {
  background-color: rgb(246, 227, 205);
}
.system-fallout .sheet.journal-entry .journal-entry-page table tbody tr:first-child {
  background: black;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.system-fallout .sheet.journal-entry .journal-entry-page table td,
.system-fallout .sheet.journal-entry .journal-entry-page table th {
  padding-left: 6px;
  padding-right: 6px;
}
.system-fallout .sheet.journal-entry .journal-entry-page .fo-energy,
.system-fallout .sheet.journal-entry .journal-entry-page .fo-physical,
.system-fallout .sheet.journal-entry .journal-entry-page .fo-pip-boy,
.system-fallout .sheet.journal-entry .journal-entry-page .fo-poison,
.system-fallout .sheet.journal-entry .journal-entry-page .fo-radiation {
  background: none;
  color: black;
  font-size: 1.4em;
}
.system-fallout .sheet.journal-entry .journal-entry-page .fo-pip-boy {
  background-color: rgb(238, 231, 135);
  color: #325885;
}
.system-fallout .sheet.journal-entry .journal-entry-page section .reveal {
  float: right;
}
.system-fallout .sheet.journal-entry .journal-entry-page section .secret {
  background: rgba(125, 28, 28, 0.2);
  border: 3px solid;
  padding: 4px;
  border-color: rgb(125, 28, 28);
  border-radius: 8px;
  padding: 8px;
  margin: 16px;
}
.system-fallout .sheet.journal-entry .journal-entry-page section .secret p {
  font-size: 1.2em;
}
.system-fallout .sheet.journal-entry .journal-entry-page section .revealed {
  border-color: rgb(28, 125, 34);
  background: rgba(28, 125, 34, 0.2);
}

.fallout.game-license {
  font-size: 12px;
  padding: 4px;
  flex-basis: 100%;
}
.fallout.game-license p {
  margin-bottom: 0;
}

.window-app {
  font-family: "Roboto", sans-serif;
}

.font-primary {
  font-family: "Roboto", sans-serif;
}

.pad-2 {
  padding: 2px;
}

.pad-5 {
  padding: 5px;
}

.font-size-11 {
  font-size: 11px;
}

.chat-message {
  background-image: url(../assets/chat/rec-paper.webp);
}

.dice-tooltip .dice-rolls .roll.d20.diefalloutlocation {
  width: unset;
  background-image: none;
  text-align: left;
}

.fallout-chat-message .content {
  padding: 5px;
}
.fallout-chat-message .content h2 {
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.fallout-chat-message .content .dices-result {
  margin: 5px 0 5px 0;
  min-height: 32px;
}
.fallout-chat-message .content .success-plaq {
  margin: 0 0 0 0;
  font-family: "Lobster", cursive;
  padding: 10px;
  font-size: 16px;
  background-image: url(../assets/chat/green-placq.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout-chat-message .content .success-plaq .TN {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.fallout-chat-message .content .complication-plaq {
  margin: 2px 0 0 10px;
  font-family: "Lobster", cursive;
  padding: 14px 10px 10px 10px;
  font-size: 12px;
  background-image: url(../assets/chat/red-placq.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout-chat-message .content .damage-plaq {
  margin: 0 0 0 0;
  font-family: "Lobster", cursive;
  padding: 10px;
  font-size: 16px;
  background-image: url(../assets/chat/yellow-placq.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout-chat-message .content .hit-location-label {
  font-size: 0.75rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
}
.fallout-chat-message .content .dice-icon {
  cursor: pointer;
  position: relative;
  min-width: 28px;
  line-height: 28px;
  float: left;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}
.fallout-chat-message .content .dice-icon.d20 {
  background-image: url(../assets/chat/d20-white.svg);
}
.fallout-chat-message .content .dice-icon.d20.complication {
  color: honeydew !important;
  background-image: url(../assets/chat/d20-complication.svg);
}
.fallout-chat-message .content .dice-icon.d20.success {
  background-image: url(../assets/chat/d20-success.svg);
}
.fallout-chat-message .content .dice-icon.d20.crit {
  color: gold !important;
  background-image: url(../assets/chat/d20-crit.svg);
}
.fallout-chat-message .content .dice-icon.d20.reroll {
  color: #1d1d1d;
}
.fallout-chat-message .content .dice-icon.d6 {
  width: 32px;
  line-height: 32px;
  background-size: 32px 32px;
  margin: 2px;
}
.fallout-chat-message .content .dice-icon.d6.face-1 {
  background-image: url(../assets/chat/d1.webp);
}
.fallout-chat-message .content .dice-icon.d6.face-2 {
  background-image: url(../assets/chat/d2.webp);
}
.fallout-chat-message .content .dice-icon.d6.face-3 {
  background-image: url(../assets/chat/d3.webp);
}
.fallout-chat-message .content .dice-icon.d6.face-4 {
  background-image: url(../assets/chat/d4.webp);
}
.fallout-chat-message .content .dice-icon.d6.face-5 {
  background-image: url(../assets/chat/d5.webp);
}
.fallout-chat-message .content .dice-icon.d6.face-6 {
  background-image: url(../assets/chat/d6.webp);
}
.fallout-chat-message .content .dice-icon.dice-selected {
  opacity: 0.45;
}

.fallout-dialog .resource {
  margin: 0 2px 5px;
  padding: 0 5px 0 0;
  background-color: #729eb2;
}
.fallout-dialog .resource.tile {
  background-color: #6ea898;
}
.fallout-dialog .resource.green {
  background-color: #b4bb5b;
}
.fallout-dialog .resource.red {
  background-color: #e37e6c;
}
.fallout-dialog .resource .title-label {
  padding: 5px;
  font-family: "Lobster", cursive;
  color: white;
}
.fallout-dialog .resource .title-label.large {
  font-size: var(--font-size-18);
}
.fallout-dialog .resource input[type=checkbox],
.fallout-dialog .resource input[type=number] {
  text-align: center;
  background-color: beige;
  color-scheme: light;
}
.fallout-dialog .resource select {
  background-color: beige;
}
.fallout-dialog ul {
  list-style: none;
  padding: 5px 20px;
  margin: 0 2px 5px;
  background-color: #c8d0d4;
}
.fallout-dialog ul li {
  text-decoration: none;
  text-align: center;
}
.fallout-dialog ul li .dice-icon {
  cursor: pointer;
  width: 32px;
  line-height: 32px;
  display: inline-block;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  background-image: url(../assets/chat/d20-white.svg);
}
.fallout-dialog ul li .dice-icon.marked {
  color: white;
  background-image: url(../assets/chat/d20-blue.svg);
}

.fallout .window-content {
  background: none;
  padding: 0;
  color: rgb(238, 231, 135);
  background-color: #325885;
  background-size: cover;
  background-repeat: no-repeat;
}
.fallout .window-content > form {
  padding: 8px;
}
.fallout .window-content > form.character, .fallout .window-content > form.creature, .fallout .window-content > form.vehicle, .fallout .window-content > form.npc, .fallout .window-content > form.robot {
  background-color: #325885;
}
.fallout .window-content .content-link {
  background: #293f5f;
  border: unset;
}
.fallout .window-content .content-link .fas {
  color: rgb(238, 231, 135);
}
.fallout .window-content a.inline-roll.roll {
  background: #4c93d2;
  padding: 1px 4px;
  border: 1px solid #182537;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
  color: #fffab6;
  font-weight: 500;
}
.fallout .window-content a.inline-roll.roll:hover {
  text-shadow: 0 0 10px #b5cfe9;
}
.fallout .window-content a.inline-roll.roll i {
  color: #3a5884;
}

.dice-tooltip .dice-rolls .roll.max {
  color: unset;
  filter: none;
}

.dice-tooltip .dice-rolls .roll.min {
  color: unset;
  filter: none;
}

.chat-item {
  background: repeating-linear-gradient(to bottom, #122505 0px, #122505 1px, #235800 1px, #235800 2px);
  color: #6aff06;
  padding: 1rem;
  border-radius: 12px;
  border: 2px solid #38550f;
}
.chat-item h2 {
  font-family: var(--font-primary);
  color: #6aff06;
  font-size: 1.5em;
}
.chat-item img {
  width: 50%;
  background-color: rgb(0, 37, 8);
  border-radius: 12px;
}
.chat-item .content-link {
  background-color: rgb(0, 37, 8);
}
.chat-item .content-link .fas {
  color: #6aff06;
}
.chat-item hr {
  border: 1px solid #327c01;
}
.chat-item .item-name {
  text-align: center;
  box-shadow: 0px 0px 10px 5px #235800;
  text-transform: uppercase;
}
.chat-item a:hover {
  text-shadow: 0 0 8px #b4ff06;
}
.chat-item .inline-roll.roll {
  background: none;
  padding: 1px 4px;
  border: 1px solid rgba(106, 255, 6, 0.6);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
  color: #6aff06;
  font-weight: 500;
}
.chat-item .inline-roll.roll i {
  color: #6aff06;
}

.fake-uuid-link {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid var(--color-border-dark-tertiary);
  margin: 4px;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
.fake-uuid-link:hover {
  cursor: auto;
  text-shadow: none;
}

.delete-choice {
  color: darkred;
}
.delete-choice:hover {
  text-shadow: 0 0 4px red;
  background-color: transparent;
  cursor: pointer;
}

.encumbrance {
  background-color: rgb(79, 105, 144);
  color: rgb(238, 231, 135);
  margin: 0;
  padding: unset;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Styles limited to fallout sheets */
.fallout {
  @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400;600&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
}
.fallout .effects .item .effect-source,
.fallout .effects .item .effect-duration,
.fallout .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.fallout .effects .item .effect-controls {
  border: none;
}
@font-face {
  font-family: "fallout";
  src: url("../assets/fonts/fallout.ttf") format("truetype"), url("../assets/fonts/fallout.woff") format("woff"), url("../assets/fonts/fallout.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.fallout [class^=fo-],
.fallout [class*=" fo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fallout" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fallout .fo-energy:before {
  content: "\e904";
}
.fallout .fo-physical:before {
  content: "\e901";
}
.fallout .fo-poison:before {
  content: "\e902";
}
.fallout .fo-radiation:before {
  content: "\e903";
}
.fallout .fo-pip-boy:before {
  content: "\e900";
}
.fallout .fo-blue {
  background-color: rgb(245, 243, 127);
  color: rgb(0, 89, 172);
}
.fallout h5 {
  text-align: center;
  font-weight: bold;
  background: #2d3f5e;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
}
.fallout .item {
  color: rgb(238, 231, 135);
}
.fallout .item-form {
  font-family: "Roboto", sans-serif;
}
.fallout .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.fallout .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border: none;
}
.fallout .sheet-header h1 .charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.fallout .sheet-header h1 .charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.fallout .sheet-header .level-up-label {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.fallout .sheet-header .chaty {
  cursor: pointer;
  width: 1.2rem;
}
.fallout .sheet-header .right-side {
  padding: 0 0 0 30px;
}
.fallout .sheet-tabs {
  flex: 0;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.fallout .fallout.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.fallout .fallout.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
}
.fallout .fallout.sheet .editor {
  height: 100%;
}
.fallout .fallout.sheet .editor .editor-content {
  height: 100%;
}
.fallout .description-field {
  background: rgba(245, 245, 220, 0.301);
  padding: 0 5px;
  border: 1px solid lightgray;
}
.fallout .description-field .editor {
  height: 100%;
}
.fallout .editor .editor-content {
  width: 100%;
  height: 100%;
  min-height: 10rem;
  flex: 1;
}
.fallout .condition-box .pipboy-status-screen {
  min-width: 390px;
  max-width: 390px;
  height: 390px;
  max-height: 390px;
  margin: 0 0 5px 0;
  border: 0;
  padding: 0;
  display: block;
  position: relative;
  background-color: #325885;
}
.fallout .condition-box .pipboy-status-screen .body-part {
  position: absolute;
  min-width: 390px;
  width: 390px;
  min-height: 390px;
  background-size: 390px 390px;
  filter: invert(63%) sepia(9%) saturate(1297%) hue-rotate(154deg) brightness(93%) contrast(86%);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.head.healthy {
  background-image: url(../assets/ui/pipboy-body/character/healthy/head.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.head.wounded {
  background-image: url(../assets/ui/pipboy-body/character/wounded/head.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.head.crippled {
  background-image: url(../assets/ui/pipboy-body/character/crippled/head.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.torso.healthy {
  background-image: url(../assets/ui/pipboy-body/character/healthy/torso.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.torso.wounded {
  background-image: url(../assets/ui/pipboy-body/character/wounded/torso.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.torso.crippled {
  background-image: url(../assets/ui/pipboy-body/character/crippled/torso.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.armL.healthy {
  background-image: url(../assets/ui/pipboy-body/character/healthy/armL.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.armL.wounded {
  background-image: url(../assets/ui/pipboy-body/character/wounded/armL.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.armL.crippled {
  background-image: url(../assets/ui/pipboy-body/character/crippled/armL.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.armR.healthy {
  background-image: url(../assets/ui/pipboy-body/character/healthy/armR.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.armR.wounded {
  background-image: url(../assets/ui/pipboy-body/character/wounded/armR.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.armR.crippled {
  background-image: url(../assets/ui/pipboy-body/character/crippled/armR.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.legL.healthy {
  background-image: url(../assets/ui/pipboy-body/character/healthy/legL.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.legL.wounded {
  background-image: url(../assets/ui/pipboy-body/character/wounded/legL.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.legL.crippled {
  background-image: url(../assets/ui/pipboy-body/character/crippled/legL.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.legR.healthy {
  background-image: url(../assets/ui/pipboy-body/character/healthy/legR.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.legR.wounded {
  background-image: url(../assets/ui/pipboy-body/character/wounded/legR.png);
}
.fallout .condition-box .pipboy-status-screen.character .body-part.legR.crippled {
  background-image: url(../assets/ui/pipboy-body/character/crippled/legR.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.wounded {
  filter: invert(76%) sepia(13%) saturate(1393%) hue-rotate(25deg) brightness(95%) contrast(83%);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.crippled {
  filter: invert(67%) sepia(11%) saturate(4951%) hue-rotate(318deg) brightness(101%) contrast(78%);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.head.healthy {
  background-image: url(../assets/ui/pipboy-body/robot/healthy/optics.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.head.wounded {
  background-image: url(../assets/ui/pipboy-body/robot/wounded/optics.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.head.crippled {
  background-image: url(../assets/ui/pipboy-body/robot/crippled/optics.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.torso.healthy {
  background-image: url(../assets/ui/pipboy-body/robot/healthy/body.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.torso.wounded {
  background-image: url(../assets/ui/pipboy-body/robot/wounded/body.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.torso.crippled {
  background-image: url(../assets/ui/pipboy-body/robot/crippled/body.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.armL.healthy {
  background-image: url(../assets/ui/pipboy-body/robot/healthy/arm1.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.armL.wounded {
  background-image: url(../assets/ui/pipboy-body/robot/wounded/arm1.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.armL.crippled {
  background-image: url(../assets/ui/pipboy-body/robot/crippled/arm1.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.armR.healthy {
  background-image: url(../assets/ui/pipboy-body/robot/healthy/arm2.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.armR.wounded {
  background-image: url(../assets/ui/pipboy-body/robot/wounded/arm2.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.armR.crippled {
  background-image: url(../assets/ui/pipboy-body/robot/crippled/arm2.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.legL.healthy {
  background-image: url(../assets/ui/pipboy-body/robot/healthy/arm3.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.legL.wounded {
  background-image: url(../assets/ui/pipboy-body/robot/wounded/arm3.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.legL.crippled {
  background-image: url(../assets/ui/pipboy-body/robot/crippled/arm3.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.legR.healthy {
  background-image: url(../assets/ui/pipboy-body/robot/healthy/thruster.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.legR.wounded {
  background-image: url(../assets/ui/pipboy-body/robot/wounded/thruster.png);
}
.fallout .condition-box .pipboy-status-screen.robot .body-part.legR.crippled {
  background-image: url(../assets/ui/pipboy-body/robot/crippled/thruster.png);
}
.fallout .condition-box .pipboy-status-screen .status-plaque {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  min-width: 100px;
  background-color: #325885;
}
.fallout .condition-box .pipboy-status-screen .status-plaque .values {
  display: flex;
  flex-direction: row;
}
.fallout .condition-box .pipboy-status-screen .status-plaque .values .defense-type {
  display: flex;
  flex-direction: column;
}
.fallout .condition-box .pipboy-status-screen .status-plaque .values .defense-type .resistance-icon {
  font-size: 1rem;
  text-align: center;
  color: rgb(238, 231, 135);
}
.fallout .condition-box .pipboy-status-screen .status-plaque .values .defense-type .label-value {
  margin: 0;
  color: rgb(238, 231, 135);
}
.fallout .condition-box .pipboy-status-screen .status-plaque .status-header {
  margin: 0;
  padding: 2px 5px;
  background-color: black;
}
.fallout .condition-box .pipboy-status-screen .status-plaque .status-header p {
  color: white;
  margin: 0;
}
.fallout .condition-box .pipboy-status-screen .status-plaque .status {
  display: flex;
  flex-direction: row;
  min-height: 80px;
  min-height: 20px;
  background-repeat: no-repeat;
}
.fallout .condition-box .pipboy-status-screen .status-plaque .status.healthy {
  background-image: url("../assets/ui/pipboy-body/bar-healthy.png");
}
.fallout .condition-box .pipboy-status-screen .status-plaque .status.wounded {
  background-image: url("../assets/ui/pipboy-body/bar-wounded.png");
}
.fallout .condition-box .pipboy-status-screen .status-plaque .status.crippled {
  background-image: url("../assets/ui/pipboy-body/bar-crippled.png");
}
.fallout .condition-box .pipboy-status-screen .status-plaque.head {
  left: 50px;
  top: 30px;
}
.fallout .condition-box .pipboy-status-screen .status-plaque.torso {
  left: 130px;
  top: 140px;
}
.fallout .condition-box .pipboy-status-screen .status-plaque.armL {
  left: 10px;
  top: 190px;
}
.fallout .condition-box .pipboy-status-screen .status-plaque.armR {
  right: 10px;
  top: 190px;
}
.fallout .condition-box .pipboy-status-screen .status-plaque.legL {
  left: 10px;
  top: 300px;
}
.fallout .condition-box .pipboy-status-screen .status-plaque.legR {
  right: 10px;
  top: 300px;
}
.fallout .box {
  padding: 0 5px 5px 5px;
  margin-bottom: 5px;
  background-color: rgba(229, 232, 234, 0.1215686275);
  color: rgb(238, 231, 135);
}
.fallout .box.padding1 {
  padding: 1px;
}
.fallout .box.padding2 {
  padding: 2px;
}
.fallout .box.padding3 {
  padding: 3px;
}
.fallout .box.padding4 {
  padding: 4px;
}
.fallout .box.padding5 {
  padding: 5px;
}
.fallout .box .items-list .item.items-header {
  margin-top: 0px !important;
}
.fallout .box .settlers-list .settler.settlers-header {
  margin-top: 0px !important;
}
.fallout .box.no-padding {
  padding: 0 !important;
}
.fallout .box.no-padding .box-header {
  margin: 0 0 0 0;
}
.fallout .box.no-padding > div {
  padding: 5px;
}
.fallout .box .box-header {
  border-bottom: none;
  margin: 0 -5px 5px -5px;
  padding: 5px 5px 2px 5px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.fallout .box .box-header * {
  padding: 0;
  margin: 0;
  color: white;
}
.fallout .bgOdd {
  background-color: rgba(0, 0, 0, 0.1215686275);
}
.fallout .bgEven {
  background-color: rgba(0, 0, 0, 0.1843137255);
}
.fallout .body-part-header {
  background-color: rgb(43, 22, 41);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px 5px;
}
.fallout .body-part-header h4 {
  margin: 0;
}
.fallout .injury-bar {
  display: flex;
  margin-bottom: 5px;
  padding: 1px;
}
.fallout .injury-bar .injury-mark {
  margin-right: 2px;
  width: 100%;
  cursor: pointer;
}
.fallout .injury-bar .injury-mark.condition0 {
  background-color: #04dc17;
  background-image: none;
}
.fallout .injury-bar .injury-mark.condition1 {
  background-color: #325885;
  background-color: none;
  background-image: url(../assets/ui/sticking-plaster.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.fallout .injury-bar .injury-mark.condition2 {
  background-color: #325885;
  background-image: url(../assets/ui/drop.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.fallout .injury-bar :last-child {
  margin-right: 0;
}
.fallout .status-help-bar {
  display: flex;
  justify-content: space-between;
}
.fallout .status-help-bar .help-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.fallout .status-help-bar p {
  font-size: 11px;
  margin: 0;
  padding: 0;
}
.fallout .symbol {
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  margin-right: 3px;
  flex-basis: 12px;
  background-size: contain;
  background-position: center;
  background-repeat: none;
}
.fallout .symbol.healthy {
  background-color: #04dc17;
}
.fallout .symbol.wounded {
  background-image: url(../assets/ui/sticking-plaster.svg);
}
.fallout .symbol.crippled {
  background-image: url(../assets/ui/drop.svg);
}
.fallout .power-armor-status {
  position: relative;
  max-width: 136px;
  height: 172px;
}
.fallout .power-armor-status .body-part {
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 40px;
}
.fallout .power-armor-status .body-part.armL {
  position: absolute;
  left: 0;
  top: 50px;
}
.fallout .power-armor-status .body-part.armR {
  position: absolute;
  right: 0;
  top: 50px;
}
.fallout .power-armor-status .body-part.head {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.fallout .power-armor-status .body-part.legL {
  position: absolute;
  left: 15px;
  top: 120px;
}
.fallout .power-armor-status .body-part.legR {
  position: absolute;
  right: 15px;
  top: 120px;
}
.fallout .power-armor-status .body-part.torso {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 60px;
}
.fallout .power-armor-status .body-part input [type=number] {
  text-align: center;
}
.fallout .condition-meters {
  display: grid;
  grid-template-columns: 18px 2fr;
  align-items: center;
  column-gap: 8px;
}
.fallout .chem-doses {
  background-color: rgba(229, 232, 234, 0.1215686275);
  color: rgb(238, 231, 135);
  border: 2px groove var(--color-border-light-highlight);
  margin: 0 5px 0 0;
}
.fallout .tab {
  padding-bottom: 30px;
}
.fallout .items-header,
.fallout .settlers-header {
  height: 28px;
  margin: 2px 0;
  padding: 0 5px;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.fallout .items-header > *,
.fallout .settlers-header > * {
  font-size: 14px;
  text-align: center;
}
.fallout .items-header .item-name,
.fallout .items-header .settler-name,
.fallout .settlers-header .item-name,
.fallout .settlers-header .settler-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
  border-bottom: none;
}
.fallout {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
}
.fallout .items-list,
.fallout .settlers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: rgb(238, 231, 135);
}
.fallout .items-list .item-list,
.fallout .settlers-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fallout .items-list .item-name,
.fallout .items-list .settler-name,
.fallout .settlers-list .item-name,
.fallout .settlers-list .settler-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
  min-height: 24px;
  border-bottom: none;
}
.fallout .items-list .item-name h3,
.fallout .items-list .item-name h4,
.fallout .items-list .settler-name h3,
.fallout .items-list .settler-name h4,
.fallout .settlers-list .item-name h3,
.fallout .settlers-list .item-name h4,
.fallout .settlers-list .settler-name h3,
.fallout .settlers-list .settler-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  color: #eee787;
}
.fallout .items-list .item-controls,
.fallout .items-list .settler-controls,
.fallout .settlers-list .item-controls,
.fallout .settlers-list .settler-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
  align-items: center;
}
.fallout .items-list .item-controls a,
.fallout .items-list .settler-controls a,
.fallout .settlers-list .item-controls a,
.fallout .settlers-list .settler-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.fallout .items-list .item,
.fallout .items-list .settler,
.fallout .settlers-list .item,
.fallout .settlers-list .settler {
  align-items: center;
  padding: 0 5px;
  border-bottom: 1px solid #637294;
  background-color: rgba(0, 0, 0, 0.2);
}
.fallout .items-list .item:last-child,
.fallout .items-list .settler:last-child,
.fallout .settlers-list .item:last-child,
.fallout .settlers-list .settler:last-child {
  border-bottom: none;
}
.fallout .items-list .item .item-name,
.fallout .items-list .item .settler-name,
.fallout .items-list .settler .item-name,
.fallout .items-list .settler .settler-name,
.fallout .settlers-list .item .item-name,
.fallout .settlers-list .item .settler-name,
.fallout .settlers-list .settler .item-name,
.fallout .settlers-list .settler .settler-name {
  border-bottom: none;
  color: #191813;
}
.fallout .items-list .item .item-name .item-image,
.fallout .items-list .item .settler-name .item-image,
.fallout .items-list .settler .item-name .item-image,
.fallout .items-list .settler .settler-name .item-image,
.fallout .settlers-list .item .item-name .item-image,
.fallout .settlers-list .item .settler-name .item-image,
.fallout .settlers-list .settler .item-name .item-image,
.fallout .settlers-list .settler .settler-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin: 3px 0 0 0;
}
.fallout .items-list .item .item-sub-info,
.fallout .items-list .item .settler-sub-info,
.fallout .items-list .settler .item-sub-info,
.fallout .items-list .settler .settler-sub-info,
.fallout .settlers-list .item .item-sub-info,
.fallout .settlers-list .item .settler-sub-info,
.fallout .settlers-list .settler .item-sub-info,
.fallout .settlers-list .settler .settler-sub-info {
  display: flex;
  padding: 0.313rem;
  font-family: "Encode Sans", sans-serif;
  font-size: 0.688rem;
  font-weight: 400;
  color: #6ea898;
  background-color: rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}
.fallout .items-list .item:nth-child(odd),
.fallout .items-list .settler:nth-child(odd),
.fallout .settlers-list .item:nth-child(odd),
.fallout .settlers-list .settler:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1215686275);
}
.fallout .items-list .item:nth-child(even),
.fallout .items-list .settler:nth-child(even),
.fallout .settlers-list .item:nth-child(even),
.fallout .settlers-list .settler:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1843137255);
}
.fallout .items-list .item-prop,
.fallout .settlers-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.fallout .items-list .items-header,
.fallout .items-list .settlers-header,
.fallout .settlers-list .items-header,
.fallout .settlers-list .settlers-header {
  height: 28px;
  margin: 2px 0;
  padding: 0 5px;
  align-items: center;
  background: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
}
.fallout .items-list .items-header > *,
.fallout .items-list .settlers-header > *,
.fallout .settlers-list .items-header > *,
.fallout .settlers-list .settlers-header > * {
  font-size: 12px;
  text-align: center;
  color: white;
}
.fallout .items-list .items-header .item-name,
.fallout .items-list .items-header .settler-name,
.fallout .items-list .settlers-header .item-name,
.fallout .items-list .settlers-header .settler-name,
.fallout .settlers-list .items-header .item-name,
.fallout .settlers-list .items-header .settler-name,
.fallout .settlers-list .settlers-header .item-name,
.fallout .settlers-list .settlers-header .settler-name {
  border-bottom: none;
  color: white;
  padding-left: 5px;
  text-align: left;
}
.fallout .items-list .item-skill-value,
.fallout .items-list .item-skill-tag,
.fallout .settlers-list .item-skill-value,
.fallout .settlers-list .item-skill-tag {
  flex: 0.5;
  text-align: center;
  padding: 2px 0;
}
.fallout .items-list .item-skill-value input[type=number],
.fallout .items-list .item-skill-tag input[type=number],
.fallout .settlers-list .item-skill-value input[type=number],
.fallout .settlers-list .item-skill-tag input[type=number] {
  max-width: 2rem;
  max-height: 1.3rem;
}
.fallout .items-list .item-skill-value input[type=checkbox],
.fallout .items-list .item-skill-tag input[type=checkbox],
.fallout .settlers-list .item-skill-value input[type=checkbox],
.fallout .settlers-list .item-skill-tag input[type=checkbox] {
  width: 12px;
  height: 12px;
}
.fallout .item-unattached,
.fallout .item-unequipped,
.fallout .item-unstashed,
.fallout .item-unpowered,
.fallout .favorite-start-dim {
  color: rgba(0, 0, 0, 0.2);
}
.fallout {
  /* Example style for FalloutItem (can be removed if not needed) */
}
.fallout .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.fallout .power-armor-parts {
  display: grid;
  grid-template-columns: min-content auto;
}
.fallout .wrapper {
  border-top: 10px solid green;
}
.fallout input[type=text],
.fallout input[type=number] {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(238, 231, 135);
}
.fallout input[type=text].underline,
.fallout input[type=number].underline {
  background-color: unset;
  border: unset;
  text-overflow: ellipsis;
  border-bottom: 1px dashed rgb(238, 231, 135);
  color: rgb(238, 231, 135);
}
.fallout input[type=text]::placeholder,
.fallout input[type=number]::placeholder {
  color: #999;
}
.fallout select {
  color: rgb(238, 231, 135);
  background-color: #293f5f;
}
.fallout select option {
  color: rgb(238, 231, 135);
  background-color: #293f5f;
  font-family: "Roboto", sans-serif;
}
.fallout .bodypart-row:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1215686275);
}
.fallout .bodypart-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1843137255);
}
.fallout .toggle-label {
  padding: 3px;
  border: 0 solid;
  border-radius: 4px;
  background-color: #1d2c42;
  color: cadetblue;
}
.fallout .toggle-label input[type=checkbox] {
  display: none;
}
.fallout .toggle-label label {
  cursor: pointer;
}
.fallout .toggle-label.active {
  color: greenyellow;
  background-color: black;
}
.fallout .toggle-label.disable {
  color: indianred;
  background-color: black;
}
.fallout .wpn-tag-toggler {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 100%;
}
.fallout input.chk-btn + label:active,
.fallout input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #eee;
}
.fallout .font-lobster {
  font-family: "Lobster", cursive;
}
.fallout .tab-switch {
  cursor: pointer;
}
.fallout .color-prim {
  color: rgb(238, 231, 135);
}
.fallout .color-prim-contra {
  color: #293f5f;
}
.fallout .color-secondary {
  color: hsla(56, 75%, 73%, 0.61);
}
.fallout .field-label,
.fallout .resource-label {
  border-bottom: none;
  font-weight: bold;
  color: rgb(238, 231, 135);
}
.fallout .field-label {
  text-transform: uppercase;
}
.fallout .resource-row {
  padding: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  align-items: center;
}
.fallout .resource-row:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1215686275);
}
.fallout .resource-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1843137255);
}
.fallout .resource-header {
  padding: 2px 2px 2px 5px;
  margin: 0;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.fallout .resource-plate-header {
  padding: 5px 0 5px 10px;
  margin-bottom: 5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}
.fallout .resource-plate-header .label {
  font-family: "Lobster", cursive;
  font-size: 24px;
}
.fallout .resource-plate-header .label.center {
  display: block;
  text-align: center;
}
.fallout .resource-plate-header.character-header, .fallout .resource-plate-header.robot-header {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'none'%20viewBox%3D'-1%20-1%20300%20100'%20width%3D'300'%20height%3D'100'%3E%3Cdefs%3E%3Cpath%20d%3D'M13.24%20100l268.5-5.03L300%209.35%200%200l13.24%20100z'%20id%3D'a'%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D'%23a'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23a'%20fill%3D'%23293f5f'%20fill-opacity%3D'1'%20stroke%3D'%23293f5f'%20stroke-width%3D'2'%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout .resource-plate-header.npc-header, .fallout .resource-plate-header.creature-header, .fallout .resource-plate-header.vehicle-header, .fallout .resource-plate-header.settlement-header {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'none'%20viewBox%3D'-1%20-1%20300%20100'%20width%3D'300'%20height%3D'100'%3E%3Cdefs%3E%3Cpath%20d%3D'M13.24%20100l268.5-5.03L300%209.35%200%200l13.24%20100z'%20id%3D'a'%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D'%23a'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23a'%20fill%3D'%23293f5f'%20fill-opacity%3D'1'%20stroke%3D'%23293f5f'%20stroke-width%3D'2'%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout .resource-plate-header.settlement-beds {
  background-image: url(../assets/ui/plate-header-beds.svg);
}
.fallout .resource-plate-header.settlement-defense {
  background-image: url(../assets/ui/plate-header-defense.svg);
}
.fallout .resource-plate-header.settlement-food {
  background-image: url(../assets/ui/plate-header-food.svg);
}
.fallout .resource-plate-header.settlement-people {
  background-image: url(../assets/ui/plate-header-people.svg);
}
.fallout .resource-plate-header.settlement-power {
  background-image: url(../assets/ui/plate-header-power.svg);
}
.fallout .resource-plate-header.settlement-water {
  background-image: url(../assets/ui/plate-header-water.svg);
}
.fallout .resource-plate-header.plate-1-g {
  background-image: url(../assets/ui/plate-header-1-g.svg);
}
.fallout .resource-plate-header.plate-2-o {
  background-image: url(../assets/ui/plate-header-2-o.svg);
}
.fallout .resource-plate-header.plate-2 {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%22-1%20-1%20300%20100%22%20width%3D%22300%22%20height%3D%22100%22%3E%3Cdefs%3E%3Cpath%20d%3D%22M0%20100l274.1-9.92L300%2013.01%208.51%200%200%20100z%22%20id%3D%22a%22%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20fill%3D%22%23605274%22%20fill-opacity%3D%221%22%20stroke%3D%22%23605274%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout .resource-plate-header.plate-3 {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'none'%20viewBox%3D'-1%20-1%20300%20100'%20width%3D'300'%20height%3D'100'%3E%3Cdefs%3E%3Cpath%20d%3D'M13.24%20100l268.5-5.03L300%209.35%200%200l13.24%20100z'%20id%3D'a'%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D'%23a'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23a'%20fill%3D'%23293f5f'%20fill-opacity%3D'1'%20stroke%3D'%23293f5f'%20stroke-width%3D'2'%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout .resource-plate-header.plate-3-g {
  background-image: url(../assets/ui/plate-header-3-g.svg);
}
.fallout .resource-plate-header.plate-3-b {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'none'%20viewBox%3D'-1%20-1%20300%20100'%20width%3D'300'%20height%3D'100'%3E%3Cdefs%3E%3Cpath%20d%3D'M13.24%20100l268.5-5.03L300%209.35%200%200l13.24%20100z'%20id%3D'a'%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D'%23a'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23a'%20fill%3D'%23b1c0d3'%20fill-opacity%3D'1'%20stroke%3D'%23b1c0d3'%20stroke-width%3D'2'%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout .resource-plate-header.plate-3-o {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'none'%20viewBox%3D'-1%20-1%20300%20100'%20width%3D'300'%20height%3D'100'%3E%3Cdefs%3E%3Cpath%20d%3D'M13.24%20100l268.5-5.03L300%209.35%200%200l13.24%20100z'%20id%3D'a'%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D'%23a'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23a'%20fill%3D'%237490b3'%20fill-opacity%3D'1'%20stroke%3D'%237490b3'%20stroke-width%3D'2'%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fallout .resource-plate-header.plate-31-o {
  background-image: url(../assets/ui/plate-header-31-o.svg);
}
.fallout .resource-plate-header.plate-3-r {
  background-image: url(../assets/ui/plate-header-3-r.svg);
}
.fallout .resource-plate-header.plate-4-o {
  background-image: url(../assets/ui/plate-header-4-o.svg);
}
.fallout .resource-plate-header.plate-4-r {
  background-image: url(../assets/ui/plate-header-4-r.svg);
}
.fallout .capitalize {
  text-transform: capitalize;
}
.fallout .upperC {
  text-transform: uppercase;
}
.fallout .lowerC {
  text-transform: lowercase;
}
.fallout .text-center {
  text-align: center;
}
.fallout .num-short-1 {
  max-width: 1rem;
  text-align: center;
}
.fallout .num-short-2 {
  max-width: 2rem;
  text-align: center;
}
.fallout .num-short-3 {
  max-width: 3rem;
  text-align: center;
}
.fallout .num-short-4 {
  max-width: 4rem;
  text-align: center;
}
.fallout .num-short-5 {
  max-width: 5rem;
  text-align: center;
}
.fallout .special-number {
  height: 42px;
  width: 42px;
  background-image: url(../assets/ui/cogwheel.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fallout .special-number input[type=number] {
  height: 36px;
  max-width: 36px;
  text-align: center;
  background-color: unset;
  border: none;
  color: black;
}
.fallout .attributes-list .special-letter {
  flex-direction: row;
  display: flex;
  font-size: 18px;
  padding: 2px 5px;
  margin-bottom: 5px;
  justify-content: space-evenly;
  align-items: center;
}
.fallout .attributes-list .special-letter label {
  text-align: center;
  color: white;
  font-size: 22px;
}
.fallout .attributes-list .attribute:nth-child(odd) .special-number {
  background-image: url(../assets/ui/cogwheel-rot.svg);
}
.fallout .attributes-list .attribute:nth-child(1) {
  background-color: #86aa90;
}
.fallout .attributes-list .attribute:nth-child(2) {
  background-color: #8d7c5b;
}
.fallout .attributes-list .attribute:nth-child(3) {
  background-color: #4eb9ca;
}
.fallout .attributes-list .attribute:nth-child(4) {
  background-color: #e09552;
}
.fallout .attributes-list .attribute:nth-child(5) {
  background-color: #b8b4a1;
}
.fallout .attributes-list .attribute:nth-child(6) {
  background-color: #dbab96;
}
.fallout .attributes-list .attribute:nth-child(7) {
  background-color: #b2abbc;
}
.fallout .item-summary-wrapper {
  padding: 0;
  padding-left: 4px;
  font-size: 12px;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.1882352941);
}
.fallout .ico-dc {
  min-width: 12px;
  height: 12px;
  background-image: url(../assets/ico/dc.webp);
  background-repeat: no-repeat;
  background-size: 12px 12px;
}
.fallout a.entity-link {
  background: #eee787;
  color: #325885;
}
.fallout a.entity-link i {
  color: #325885;
}
.fallout .actor-header-fields {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.fallout.sheet.actor {
  min-width: 865px;
}

.fallout.sheet.creature {
  min-width: 690px;
}

.fallout.sheet.item {
  min-width: 580px;
}

.fallout.sheet.npc {
  min-width: 815px;
}

.fallout.sheet.vehicle {
  min-width: 700px;
}